<div class="container">
	<div class="row nav-row">
		<div class="col-xs-8 col-md-8  left">
			<h1>Title goes here</h1>
		</div>
		<div class="col-xs-4 col-md-4 right">
		<%= link_to image_tag("facebook.png", :alt => "facebook"), "http://www.facebook.com" %>
		<%= link_to image_tag("twitter.png", :alt => "twitter"), "http://www.twitter.com" %>
		<%= link_to image_tag("pinterest.png", :alt => "pinterest"), "http://www.pinterest.com" %>

		</div>






	</div>
</div>